<div class="heading">
  <div class="page_heading">
    <div class="container-fluid">
      <span>Request Detail</span>
    </div>
    <mat-divider></mat-divider>
    <div class="detail-div">
      <div class="row info">
        <div class="col-sm-4">
          <h4>Feedback ID</h4>
          <span>1234</span>
        </div>
        <div class="col-sm-4">
          <h4>Name</h4>
          <span>Samantha clark</span>
        </div>
        <div class="col-sm-4">
          <h4>Email ID</h4>
          <span>xyz12@abc.com</span>
        </div>
      </div>
      <div class="row info">
        <div class="col-sm-4">
          <h4>Device Type</h4>
          <span>BIOX 6</span>
        </div>
        <div class="col-sm-4">
          <h4>Serial Number</h4>
          <span>EX1456</span>
        </div>
      </div>
      <div class="row info">
        <div class="col-sm-4">
          <h4>Lab Manager Name</h4>
          <span>Daniel Johnson</span>
        </div>
      </div>
      <div class="row info">
        <div class="col-sm-11">
          <h4>Feedback</h4>
          <span>Device is unable to connect with multiple mobile devices at once. The commands given by the users are taking
            more than expected time.</span>
        </div>
      </div>
    </div>
  </div>
</div>