<div class="form_wrapper">

  <div class="mat-h2">Forgot Password</div>
  <div class="mat-h3">Enter your email address to reset your password.</div>

    <form [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid&&validateEmail()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required formControlName="email">
        <mat-error>
          {{getControl('email')|validate:'email'}}
        </mat-error>
      </mat-form-field>
      <div class="btn_groups">
        <button mat-raised-button type="submit" color="primary">Send</button>
        <button type="button" mat-button class="forgor_password" [routerLink]="'LOGIN'|absolutePath"> Back to login
        </button>
      </div>

    </form>

</div>