<div class="mat-card page-heading">
  <div class="mat-title"> Admin Profile </div>
</div>

<div class="mat-card" >

  <div class="row info_data">
    <div class="col-sm-3">
      <div class="img">
        <img [src]="(profileDetail?.image)||'http://design.applaurels.com/u_placeholder.jpg'" alt="Admin">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">

        <div class="col-sm-6">
          <div class="label">Name</div>
          <div class="value">Cellink Team</div>
        </div>
        <div class="col-sm-6">
          <div class="label">Email ID</div>
          <div class="value">cellink@yopmail.com</div>
        </div>
      </div>
    </div>

  </div>

  <div class="form-btn">
      <button mat-raised-button color="primary" [routerLink]="['CHANGE_PASSWORD'|absolutePath]"> Change Password</button>
      <button mat-raised-button color="primary" [routerLink]="['EDIT_PROFILE'|absolutePath]">Edit Profile</button>
  </div>

</div>