<div class="form_wrapper">

  <div class="mat-h2">Reset Password</div>
  <div class="mat-h3">Enter your new password to change.</div>

    <form [formGroup]="resetForm" (ngSubmit)="resetForm.valid&&resetPassword()">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput required [type]="passwordHide ? 'password'  :  'text'"
          formControlName="password">
        <mat-icon matSuffix (click)="passwordHide= !passwordHide">
          {{passwordHide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error>
          {{getControl('password')|validate:'password'}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput required [type]="confirmPasswordHide ? 'password' :'text'"
          formControlName="confirmPassword">
        <mat-icon matSuffix (click)="confirmPasswordHide= !confirmPasswordHide">
          {{confirmPasswordHide ?'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error>
          {{getControl('confirmPassword')|validate:'confirm password'}}
        </mat-error>
      </mat-form-field>

      <div class="btn_groups">
        <button mat-raised-button type="submit" color="primary">Reset</button>
        <button mat-button type="button" class="forgor_password" [routerLink]="'LOGIN'|absolutePath">Back to
          login</button>
      </div>

    </form>

</div>