<section class="dashboard_cards">
  
  <div class="row card_animation">
        <div class="col-6 col-lg-4 col-xl-3">
              <div class="mat-card" matRipple >
                    <h3>Total User</h3>
                    <div class="el-value"> 0 </div>
              </div>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
              <div class="mat-card" matRipple >
                    <h3>Total Prints</h3>
                    <div class="el-value"> 0 </div>
              </div>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
              <div class="mat-card" matRipple >
                    <h3>Total Scan</h3>
                    <div class="el-value"> 0 </div>
              </div>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
              <div class="mat-card" matRipple >
                    <h3>Total Revenue</h3>
                    <div class="el-value"> 0 </div>
              </div>
        </div>

  </div>

</section>

