<div class="account_wrapper">
    <div class="left_banner">
        <div class="banner_wrap">
            <div class="logo_blk"><img [src]="logo" alt=""></div>
            <div class="textInfo">
                <h3 class="mat-h1">RCC Admin Panel</h3>
                <p> Light weight & fast </p>
                <p> Reliability & secured </p>
                <p> Data analatics </p>
                <p> Data statistics </p>
            </div>
        </div>
    </div>
    <div class="right_form">
        <div class="form_wrap">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

